<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="fragments :: nav_bar"></div>

    <div class="row mt-4">
        <form th:action="@{/registration/change-password}" method="post" th:object="${passwordChangeRequest}">
            <h2 class="mb-4">Password Configuration</h2>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus"/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="oldPassword" class="col-sm-2 col-form-label">Old Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" required autofocus="autofocus"/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="newPassword" class="col-sm-2 col-form-label">New Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" required autofocus="autofocus"/>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Change Password</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
